extends: default

ignore: |
  kustomizations-folder

rules:
  line-length:
    max: 120
    level: warning

  comments:
    min-spaces-from-content: 1
    level: warning

  trailing-spaces:
    level: warning

  colons:
    max-spaces-before: 0
    max-spaces-after: 1
    level: warning

  new-line-at-end-of-file:
    level: warning

  indentation:
    spaces: consistent
    indent-sequences: whatever
    check-multi-line-strings: false
    level: error


  document-start:
    level: warning
  
  empty-lines:
    max: 2
    level: warning
  
  brackets:
    max-spaces-inside: 1
    level: warning
